<app-matching-game [pairs]="animals">
  <ng-template
    #leftpart
    let-animalPair="contextPair"
    (leftPartSelected)="leftpartSelectedId($event)"
    (rightpartSelected)="onRightpartSelected($event)"
    (leftpartUnselected)="onLeftpartUnselected()"
    (rightpartUnselected)="onRightpartUnselected()"
  >
    <button [class.selected]="leftpartSelectedId == animalPair.id">
      {{ animalPair?.leftpart }}
    </button>
  </ng-template>

  <ng-template #rightpart let-animalPair="contextPair">
    <button [class.selected]="rightpartSelectedId == animalPair.id">
      {{ animalPair?.rightpart }}
    </button>
  </ng-template>
</app-matching-game>
